{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<main>
  <div class="px-4 pt-6">
    <div class="grid gap-4">

      <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="items-center justify-between pb-4 border-b border-gray-200 sm:flex dark:border-gray-700">
          <div class="w-full mb-4 sm:mb-0">
            <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">
              PV IV Curve Plot
            </h3>
            <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">
              Select Make and Model
            </span>
          </div>
        </div>

        <div class="flex gap-4 mb-4">
          <select id="make-select" class="w-full p-2 border border-gray-300 rounded-lg"></select>
          <select id="model-select" class="w-full p-2 border border-gray-300 rounded-lg"></select>
        </div>

        <div id="pv-iv-chart" class="w-full h-96 bg-gray-100 rounded-lg"></div>

      </div>
    </div>
  </div>
</main>

{% endblock content %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.54.1/dist/apexcharts.min.js"></script>
<script src="{% static 'assets/charts.js' %}"></script>
{% endblock extra_js %}
